%ul.files
  - each @files, ->
    %li
      %a(href=@path target="_blank")
        %span= @name

      - if @type.match /^image/
        %img(src=@path)
      - else if @type.match /^audio/
        %audio(controls=true)
          %source(src=@path)
