%ul.files
  - files = @files
  - each files, (file) ->
    - remove = -> files.remove(file)
    %li
      %a(href=@path target="_blank")
        %span= @name

      - if @type.match /^image/
        %img(src=@path)
      - else if @type.match /^audio/
        %audio(controls=true)
          %source(src=@path)

      %button(click=remove) Delete
